.profile-container {
    max-width: 800px;
    margin: 0 auto;
}

.profile-image {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.profile-name {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.profile-description {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 30px;
}

.profile-description:before {
    content: "\201C";
    font-size: 50px;
    line-height: 0;
    margin-right: 10px;
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
}

.profile-description:after {
    content: "\201D";
    font-size: 50px;
    line-height: 0;
    margin-left: 10px;
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
}

.about-us-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

img {
    margin: auto;
    margin-top: 20px;
}

.mb-4 {
    margin-top: 1.5rem !important;
}

@media (max-width: 767px) {
    .about-us-heading {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .profile-name {
        font-size: 20px;
    }

    .profile-description {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .profile-description:before,
    .profile-description:after {
        font-size: 30px;
    }
}

.profile-social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.profile-social-links a {
    color: #777;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}

.profile-social-links a:hover {
    color: #212529;
    transform: scale(1.2);
}

.profile-social-links a {
    color: #777;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.profile-social-links a svg {
    margin-right: 0.5rem;
}

.grow {
    /* transition-delay: 3s; */
    transition-property: ease-in-out;
    transition-duration: 10s;
    transition-timing-function: linear;
    transition-delay: 5s;
    /* transition-property: cubic-bezier(0.4, 0, 1, 1); */
}

.grow:hover {
    transform: scale(1.1);
    /* transition-delay: 5s; */
}

.box {
    transition: box-shadow .3s;
    margin: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;

}

.box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}